:root {
  --pear: #ccdc29;
  --green: #78c143;
  --persian: #009789;
  --iris: #0ab9d4;
  --sky: #38a0d7;
  --danube: #458cca;
  --bay: #4554a0;
  --royal: #65489b;
  --violet: #8f3d95;
  --ruby: #ea1962;
  --red: #ef442e;
  /* --orange: #f15922; 2016 Orange */
  --orange: #ff682c;
  /* New 2018 */
  --flamenco: #f5833d;
  --carrot: #f8991d;
  --yellow: #ffc411;
  --lemon: #ffeb14;
  --russian: #0c0c11;
  --pearl: #181c1f;
  --baltic: #2f363d;
  --casal: #415257;
  --slate: #5f7d8c;
  --aluminum: #899196;
  --nobel: #9b9b9b;
  --lightgray: #d3d3d3;
  --salt: #e5e6e3;
  --whiteish: #ebedea;
  --offwhite: #f4f4f4;
}
