.ns8-button.sm {
  width: 50%;
}

.ns8-button.md {
  width: 70%;
}

.ns8-button.lg {
  width: 90%;
}

.ns8-button {
  background: linear-gradient(115deg, #73B268 0,#5B7F59 100%);
  border: 0;
  box-shadow: 0 7px 10px 0 rgba(0,0,0,0.15);
  color: #fff;
  height: 40px;
  text-transform: uppercase;
  width: 205px;
}

.ns8-button:hover {
  cursor: pointer;
}